[submodule "firmware/esp32"]
	path = firmware/esp32
	url = https://github.com/LayerDE/openhaystack_esp32.git
[submodule "firmware/nrf51"]
	path = firmware/nrf51
	url = https://github.com/LayerDE/openhaystack_nrf51.git
